Repository j0d5/cycling-parts-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --format stylish, prettier --write, markdownlint -i node_modules .

feat: some prettification...
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.html
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.scss
Due: prettier --write

feat: add database access basics
  .env
  apps/server/src/app/app.module.ts
  package-lock.json
  package.json
Due: eslint --fix --format stylish, prettier --write

feat: add database
  apps/server/src/main.ts
  libs/client/data-access/project.json
  libs/server/data-access-bike/.eslintrc.json
  libs/server/data-access-bike/README.md
  libs/server/data-access-bike/jest.config.ts
  libs/server/data-access-bike/project.json
  libs/server/data-access-bike/src/index.ts
  libs/server/data-access-bike/src/lib/database/database.module.ts
  libs/server/data-access-bike/src/lib/database/schemas/bike.entity-schema.ts
  libs/server/data-access-bike/src/lib/server-data-access-bike.module.ts
  libs/server/data-access-bike/tsconfig.json
  libs/server/data-access-bike/tsconfig.lib.json
  libs/server/data-access-bike/tsconfig.spec.json
  libs/server/feature-bike/src/lib/dtos/bike.dto.ts
  libs/server/feature-bike/src/lib/server-feature-bike.controller.ts
  libs/server/feature-bike/src/lib/server-feature-bike.module.ts
  libs/server/feature-bike/src/lib/server-feature-bike.service.ts
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix --format stylish, prettier --write, markdownlint -i node_modules .

feat: add basic styles
  .stylelintrc.json
  .vscode/extensions.json
  apps/client/project.json
  apps/client/src/styles.scss
  libs/client/ui-style/.eslintrc.json
  libs/client/ui-style/.stylelintrc.json
  libs/client/ui-style/README.md
  libs/client/ui-style/package.json
  libs/client/ui-style/project.json
  libs/client/ui-style/src/index.ts
  libs/client/ui-style/src/lib/client-ui-style.ts
  libs/client/ui-style/src/lib/scss/abstracts/_index.scss
  libs/client/ui-style/src/lib/scss/abstracts/_variables.scss
  libs/client/ui-style/src/lib/scss/base/_index.scss
  libs/client/ui-style/src/lib/scss/base/_typography.scss
  libs/client/ui-style/src/lib/scss/components/_index.scss
  libs/client/ui-style/src/lib/scss/layout/_index.scss
  libs/client/ui-style/src/lib/scss/style.scss
  libs/client/ui-style/src/lib/scss/vendors/_index.scss
  libs/client/ui-style/tsconfig.json
  libs/client/ui-style/tsconfig.lib.json
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix --format stylish, prettier --write, markdownlint -i node_modules .

fix: small fixes
  .env
  libs/server/feature-bike/src/lib/server-feature-bike.controller.ts
Due: eslint --fix --format stylish, prettier --write

remove: unnecessary component
  libs/client/ui-components/src/index.ts
  libs/client/ui-components/src/lib/client-ui-components/client-ui-components.component.html
  libs/client/ui-components/src/lib/client-ui-components/client-ui-components.component.scss
  libs/client/ui-components/src/lib/client-ui-components/client-ui-components.component.spec.ts
  libs/client/ui-components/src/lib/client-ui-components/client-ui-components.component.stories.ts
  libs/client/ui-components/src/lib/client-ui-components/client-ui-components.component.ts
Due: eslint --fix --format stylish, prettier --write

feat: use bike component in dashboard
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.html
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.ts
Due: eslint --fix --format stylish, prettier --write

feat: complete apis and fix some stuff
  libs/client/data-access/src/lib/api.service.ts
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.html
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.ts
  libs/server/feature-bike/src/lib/dtos/bike.dto.ts
  libs/server/feature-bike/src/lib/server-feature-bike.controller.ts
  libs/server/feature-bike/src/lib/server-feature-bike.service.ts
Due: eslint --fix --format stylish, prettier --write

feat: add health check and build environments
  apps/client/project.json
  apps/server/project.json
  apps/server/src/app/app.module.ts
  apps/server/src/main.ts
  libs/server/feature-health/.eslintrc.json
  libs/server/feature-health/README.md
  libs/server/feature-health/jest.config.ts
  libs/server/feature-health/project.json
  libs/server/feature-health/src/index.ts
  libs/server/feature-health/src/lib/server-feature-health.controller.spec.ts
  libs/server/feature-health/src/lib/server-feature-health.controller.ts
  libs/server/feature-health/src/lib/server-feature-health.module.ts
  libs/server/feature-health/tsconfig.json
  libs/server/feature-health/tsconfig.lib.json
  libs/server/feature-health/tsconfig.spec.json
  libs/shared/util-env/.eslintrc.json
  libs/shared/util-env/README.md
  libs/shared/util-env/project.json
  libs/shared/util-env/src/index.ts
  libs/shared/util-env/src/lib/environment.development.ts
  libs/shared/util-env/src/lib/environment.interface.ts
  libs/shared/util-env/src/lib/environment.production.ts
  libs/shared/util-env/src/lib/environment.render.ts
  libs/shared/util-env/src/lib/environment.ts
  libs/shared/util-env/tsconfig.json
  libs/shared/util-env/tsconfig.lib.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix --format stylish, prettier --write, markdownlint -i node_modules .

feat: add docker files
  apps/client/Dockerfile
  apps/client/project.json
  apps/server/Dockerfile
  apps/server/project.json
Due: prettier --write

fix: ui-style path
  tsconfig.base.json
Due: prettier --write

fix: docker files
  .vscode/settings.json
  apps/client/Dockerfile
  apps/server/project.json
  package-lock.json
Due: prettier --write

fix: docker files
  apps/client/Dockerfile
  apps/client/nginx.conf
  apps/server/Dockerfile
  apps/server/project.json
Due: prettier --write

feat: add docker compose file
  apps/client/nginx.conf
  docker-compose.yml
Due: prettier --write

feat: add mariadb
  docker-compose.yml
Due: prettier --write

refactor: change to mariadb
  .env
  .gitignore
  apps/server/src/app/app.controller.spec.ts
  apps/server/src/app/app.controller.ts
  apps/server/src/app/app.module.ts
  apps/server/src/app/app.service.spec.ts
  apps/server/src/app/app.service.ts
  docker-compose.yml
Due: eslint --fix --format stylish, prettier --write

feat: add render yaml, change ports
  .vscode/launch.json
  docker-compose.yml
  render.yaml
Due: prettier --write

feat: add github workflows
  .env
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci-tags.yml
  nx.json
Due: prettier --write

feat: add husky and linters
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

fix: lint errors
  libs/client/ui-components/src/lib/Bike/bike.component.html
  libs/client/ui-style/src/lib/scss/abstracts/_mixins.scss
  libs/client/ui-style/src/lib/scss/base/_links.scss
  libs/client/ui-style/src/lib/scss/components/_bike.scss
Due: prettier --write

fix: all those tests
  apps/client/src/app/app.component.spec.ts
  apps/server-e2e/jest.config.ts
  apps/server-e2e/src/server/bike-controller.spec.ts
  apps/server-e2e/src/server/server.spec.ts
  apps/server/src/main.ts
  apps/ui-components-e2e/src/integration/bike.cy.ts
  apps/ui-components-e2e/src/support/commands.ts
  libs/client/data-access/src/lib/api.service.spec.ts
  libs/client/data-access/src/lib/api.service.ts
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.spec.ts
  libs/server/feature-bike/src/lib/dtos/bike.dto.ts
  libs/server/feature-bike/src/lib/server-feature-bike.controller.spec.ts
  libs/server/feature-bike/src/lib/server-feature-bike.service.spec.ts
  libs/server/feature-health/src/lib/constants.ts
  libs/server/feature-health/src/lib/server-feature-health.controller.spec.ts
  libs/shared/domain/src/lib/models/bike.interface.ts
  libs/shared/util-testing/.eslintrc.json
  libs/shared/util-testing/README.md
  libs/shared/util-testing/project.json
  libs/shared/util-testing/src/index.ts
  libs/shared/util-testing/src/lib/bike.factory.ts
  libs/shared/util-testing/src/lib/user.factory.ts
  libs/shared/util-testing/tsconfig.json
  libs/shared/util-testing/tsconfig.lib.json
  libs/shared/util/.eslintrc.json
  libs/shared/util/README.md
  libs/shared/util/project.json
  libs/shared/util/src/index.ts
  libs/shared/util/src/lib/query-error.filter.ts
  libs/shared/util/tsconfig.json
  libs/shared/util/tsconfig.lib.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix --format stylish, prettier --write, markdownlint -i node_modules .

fix: more fixes
  apps/client-e2e/src/e2e/app.cy.ts
  apps/ui-components-e2e/src/integration/bike.cy.ts
  libs/client/data-access/.eslintrc.json
  libs/client/data-access/project.json
  libs/client/feature-dashboard/.eslintrc.json
  libs/client/feature-dashboard/project.json
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.ts
  libs/client/ui-style/package.json
Due: eslint --fix --format stylish, prettier --write

fix: more fixes and improvements
  apps/client/project.json
  apps/server/Dockerfile
  apps/server/project.json
  apps/server/src/main.ts
  libs/client/data-access/src/lib/api.service.ts
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.html
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.spec.ts
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.ts
  libs/client/ui-components/src/lib/Bike/bike.component.css
  libs/client/ui-components/src/lib/Bike/bike.component.html
  libs/client/ui-components/src/lib/Bike/bike.component.spec.ts
  libs/client/ui-components/src/lib/Bike/bike.component.ts
  libs/server/feature-bike/src/lib/dtos/bike.dto.ts
  libs/server/feature-bike/src/lib/server-feature-bike.controller.spec.ts
  libs/server/feature-bike/src/lib/server-feature-bike.controller.ts
  libs/shared/util-env/src/lib/environment.render.ts
  package-lock.json
  package.json
Due: eslint --fix --format stylish, prettier --write

fix: fix ui-component name
  libs/client/data-access/src/lib/api.service.spec.ts
  libs/client/ui-style/package.json
  nx.json
  tsconfig.base.json
Due: eslint --fix --format stylish, prettier --write

fix: git rename issue
  libs/client/ui-components/src/lib/Biket/bike.component.html
  libs/client/ui-components/src/lib/Biket/bike.component.spec.ts
  libs/client/ui-components/src/lib/Biket/bike.component.stories.ts
  libs/client/ui-components/src/lib/Biket/bike.component.ts
Due: eslint --fix --format stylish, prettier --write

fix: git rename issue
  libs/client/ui-components/src/lib/bike/bike.component.html
  libs/client/ui-components/src/lib/bike/bike.component.spec.ts
  libs/client/ui-components/src/lib/bike/bike.component.stories.ts
  libs/client/ui-components/src/lib/bike/bike.component.ts
Due: eslint --fix --format stylish, prettier --write

feat: add release config
  release.config.js
Due: prettier --write

feat: add user authentication
  apps/server-e2e/src/server/bike-controller.spec.ts
  apps/server/src/app/app.module.ts
  apps/server/src/main.ts
  apps/ui-components-e2e/project.json
  libs/client/data-access/src/lib/api.service.spec.ts
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.spec.ts
  libs/client/ui-components/src/lib/bike/bike.component.spec.ts
  libs/server/data-access/src/lib/dtos/bike.dto.ts
  libs/server/feature-auth/src/lib/server-feature-auth.service.spec.ts
  libs/server/feature-auth/src/lib/server-feature-auth.service.ts
  libs/server/feature-bike/src/lib/server-feature-bike.controller.spec.ts
  libs/server/feature-bike/src/lib/server-feature-bike.controller.ts
  libs/server/feature-bike/src/lib/server-feature-bike.service.spec.ts
  libs/server/feature-bike/src/lib/server-feature-bike.service.ts
  libs/server/feature-user/src/lib/server-feature-user.controller.ts
  libs/server/feature-user/src/lib/server-feature-user.service.ts
  libs/server/util/src/index.ts
  libs/server/util/src/lib/decorators/req-user.decorator.ts
  libs/server/util/src/lib/filters/database-exception.filter.ts
  libs/server/util/src/lib/guards/jwt.auth-guard.ts
  libs/shared/domain/src/index.ts
  libs/shared/domain/src/lib/models/error-response.interface.ts
  libs/shared/util-testing/src/lib/bike.factory.ts
Due: eslint --fix --format stylish, prettier --write

feat: add more linter rules
  .eslintrc.json
Due: prettier --write

fix: be more specific in dependency allowance
  .eslintrc.json
Due: prettier --write

fix: release hook with needed packages
  package-lock.json
  package.json
Due: prettier --write

feat: add layout for form control
  libs/client/feature-login/src/lib/client-feature-login/client-feature-login.component.ts
  libs/client/ui-style/src/lib/scss/components/_form_control.scss
  libs/client/ui-style/src/lib/scss/components/_index.scss
Due: eslint --fix --format stylish, prettier --write

feat: add register feature
  apps/client/src/app/app.component.html
  apps/client/src/app/app.component.ts
  apps/client/src/app/app.routes.ts
  libs/client/feature-register/.eslintrc.json
  libs/client/feature-register/.storybook/main.js
  libs/client/feature-register/.storybook/preview.js
  libs/client/feature-register/.storybook/tsconfig.json
  libs/client/feature-register/README.md
  libs/client/feature-register/jest.config.ts
  libs/client/feature-register/project.json
  libs/client/feature-register/src/index.ts
  libs/client/feature-register/src/lib/feature-register.component.html
  libs/client/feature-register/src/lib/feature-register.component.scss
  libs/client/feature-register/src/lib/feature-register.component.spec.ts
  libs/client/feature-register/src/lib/feature-register.component.stories.ts
  libs/client/feature-register/src/lib/feature-register.component.ts
  libs/client/feature-register/src/lib/lib.routes.ts
  libs/client/feature-register/src/lib/matching-passwords.validator.ts
  libs/client/feature-register/src/test-setup.ts
  libs/client/feature-register/tsconfig.json
  libs/client/feature-register/tsconfig.lib.json
  libs/client/feature-register/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix --format stylish, prettier --write, markdownlint -i node_modules .

fix: login and header
  apps/client/src/app/app.config.ts
  libs/client/data-access/src/lib/auth.service.ts
  libs/client/ui-style/src/lib/scss/layout/_header.scss
Due: eslint --fix --format stylish, prettier --write

fix: adding a new bike
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.html
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.scss
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.spec.ts
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.ts
  libs/client/feature-login/src/lib/client-feature-login/client-feature-login.component.ts
  libs/client/ui-components/src/lib/bike/bike.component.html
  libs/client/ui-components/src/lib/bike/bike.component.scss
  libs/client/ui-components/src/lib/bike/bike.component.spec.ts
  libs/client/ui-components/src/lib/bike/bike.component.stories.ts
  libs/client/ui-components/src/lib/bike/bike.component.ts
Due: eslint --fix --format stylish, prettier --write

refactor: rename ApiService to BikeService, fix color for archived
  libs/client/data-access/src/index.ts
  libs/client/data-access/src/lib/bike.service.spec.ts
  libs/client/data-access/src/lib/bike.service.ts
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.html
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.scss
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.spec.ts
  libs/client/feature-dashboard/src/lib/feature-dashboard/feature-dashboard.component.ts
  libs/client/feature-login/src/lib/client-feature-login/client-feature-login.component.ts
  libs/client/ui-components/src/lib/bike/bike.component.html
  libs/client/ui-style/src/lib/scss/components/_bike.scss
Due: eslint --fix --format stylish, prettier --write

fix: tests
  apps/client/src/app/app.component.spec.ts
  libs/client/data-access/src/lib/auth.service.spec.ts
  libs/client/data-access/src/lib/user.service.spec.ts
  libs/client/feature-login/src/lib/client-feature-login/client-feature-login.component.spec.ts
  libs/client/ui-components/src/lib/bike/bike.component.spec.ts
  libs/client/ui-components/src/lib/bike/bike.component.ts
  libs/client/ui-style/src/lib/scss/components/_bike.scss
  libs/server/data-access/src/lib/database/schemas/bike.entity-schema.ts
  libs/server/feature-bike/src/lib/server-feature-bike.service.spec.ts
  libs/server/feature-bike/src/lib/server-feature-bike.service.ts
Due: eslint --fix --format stylish, prettier --write

Path conditions:
  eslint --fix --format stylish: any of: *.ts
  prettier --write: any of: *
  markdownlint -i node_modules .: any of: *.md
